In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("./titanic_data/test.csv")

In [2]:
X = data.drop(['Cabin', 'Ticket'], axis=1)

# taking only the first letter of the names
X["Name"] = X["Name"].apply(lambda x: x.strip()[0])

# filling missing ages with the mean age
X["Age"] = X["Age"].fillna(X["Age"].mean())

# filling missing emarbarked with the most common value
X["Embarked"] = X["Embarked"].fillna(X["Embarked"].value_counts().index[0])

# filling missing fare with the mean fare
X["Fare"] = X["Fare"].fillna(X["Fare"].mean())

In [3]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Fare         418 non-null    float64
 8   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 29.5+ KB

In [4]:
import pickle

# loading model
with open("./models/model.pkl", "rb") as f:
    model = pickle.load(f)

# making predictions
predictions = model.predict(X)

In [5]:
result = pd.DataFrame({"PassengerId": data["PassengerId"], "Survived": predictions})

In [6]:
result.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [7]:
import os

os.makedirs("submissions", exist_ok=True)

# saving predictions
result.to_csv("./submissions/submission_1.csv", index=False)